/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-giu-2014, 14.32.55
    Author     : GrimaniSimone 
*/



@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

html,
body {overflow-x: hidden!important; font-family: 'Source Sans Pro', sans-serif; -webkit-font-smoothing: antialiased;min-height: 100%;}
a {color: #3c8dbc;}
a:hover,
a:active,
a:focus {outline: none; text-decoration: none; color: #72afd2;}    

.alert,
.panel,
.panel-heading,
.form-control,
.btn,
.btn-lg,
.navbar-toggle,
.dropdown-menu,
.pagination,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {border-radius: 0;}

#top-nav {background-color: #428bca;}
#top-nav .dropdown-toggle, #top-nav #sidebar-toggle a {color: #fff!important; border-color: #fff;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}

/* Forms */
.form-control {-webkit-border-radius: 0px !important;-moz-border-radius: 0px !important;border-radius: 0px !important;box-shadow: none;}
.control-group {margin-bottom: 15px;}
textarea {min-height: 200px}
.error .help-inline {color: #a94442!important; list-style: none; padding-left: 10px}

/* Titolo e breadcrumbs */
.page-title {margin-top: 10px;}
.page-title h1 {margin-top: 0; margin-bottom: 0}
.breadcrumb {margin-bottom: 0;border-radius: 0;background-color: #fff; padding-left: 2px}


.blur-login {background: #f3f3f4 ;}
.navbar-default .navbar-toggle { border: 0;}
.btn.btn-primary {background-color: #3c8dbc; border-color: #367fa9;}
.navbar-static-side li a {color: #555}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {border-top: 1px solid #dbdbdb;}
.skin-blue .sidebar-collapse > .nav > li { border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb;}

/*Deviders*/
.bs-docs-separator {margin: 40px 0 39px;}
.devider.devider-dotted {  border-top: 2px dotted #eee;}
.devider.devider-dashed {  border-top: 2px dashed #eee;}
.devider.devider-db {  height: 5px;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;}
.devider.devider-db-dashed {  height: 5px;  border-top: 1px dashed #ddd;  border-bottom: 1px dashed #ddd;}
.devider.devider-db-dotted {  height: 5px;  border-top: 1px dotted #ddd;  border-bottom: 1px dotted #ddd;}

/*-------------------------------
Responsive styles
-------------------------------*/
@media screen and (max-width: 767px){
    #sidebar-toggle {display: none}
    .content-header > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #efefef;
    }
}
/*-------------------------------
End Responsive styles
-------------------------------*/

/*-------------------------------
Print styles
-------------------------------*/
@media print{ 
    .no-print {display:none!important;} 
    a[href]:after {
        content: '';
    }
}
/*-------------------------------
End Print styles
-------------------------------*/
